# Ignore everything by default
*

!.gitignore
!README.md
!screenshot.png

!assets/
!assets/preview.webp

!current-config/
!current-config/hypr/
!current-config/hypr/**
!current-config/sway/
!current-config/sway/**
!current-config/waybar/
!current-config/waybar/**
!current-config/everforest/
!current-config/everforest/**
!install-everforest.sh
