# Ignore everything by default
*

!.gitignore
!README.md
!link.sh

!hypr/
!hypr/hyprland.conf
!hypr/scripts/
!hypr/scripts/theme-switcher

!wofi/
!wofi/style.css
!wofi/themes/
!wofi/themes/dark.css
!wofi/themes/light.css

!waybar/
!waybar/config.jsonc
!waybar/style.css
!waybar/themes/
!waybar/themes/dark.css
!waybar/themes/light.css
