# Ignore everything by default
*

# Keep repo metadata and helper files
!.gitignore
!README.md
!link.sh

# Keep selected config directories and files
!hypr/
!hypr/hyprland.conf
!hypr/scripts/
!hypr/scripts/theme-switcher
!wofi/
!wofi/style.css
!wofi/themes/
!wofi/themes/dark.css
!wofi/themes/light.css
